<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%-23date{MM-dd-yyyy HH:mm:ss.S} %-5level [%logger{0}] %msg%n</pattern> -->
      <pattern>%-12date{HH:mm:ss.S} %-5level [%logger{0}] %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org" level="WARN"/>
  <logger name="LogService" level="OFF"/> <!-- Restlet access logging -->
  <logger name="net.floodlightcontroller" level="ERROR"/>
  <logger name="net.floodlightcontroller.logging" level="ERROR"/>
  <logger name="org.sdnplatform" level="WARN"/>
  <logger name="edu.duke.cs.legosdn" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.core" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.core.service.link" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.core.appvisor.proxy" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.core.appvisor.proxy.RemoteRegistry" level="DEBUG"/>
  <logger name="edu.duke.cs.legosdn.core.appvisor.stub" level="WARN"/>
  <logger name="edu.duke.cs.legosdn.core.netlog" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.core.faults" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.core.service" level="WARN"/>
  <logger name="edu.duke.cs.legosdn.core.util" level="WARN"/>
  <logger name="edu.duke.cs.legosdn.tools" level="WARN"/>
  <logger name="edu.duke.cs.legosdn.tools.cr" level="INFO"/>
  <logger name="edu.duke.cs.legosdn.tests.apps" level="INFO"/>
</configuration>
